.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    list-style: none;
    color: white;
    justify-content: space-around;
    align-items:center;
}
.nav-menu{
    padding: 15px;
    font-size:larger;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    cursor: pointer;
    
}
.nav-menu:hover{    
    background-color: aqua;
    color: red;
}
.logo{
    height: 80px;
    width: 350px;
}

.banner{
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: white;
    height: 100vh;
    background-image:linear-gradient(45deg,rgba(83,104,65,255),rgba(83,104,125,255));

}
.banner-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}
.title{
    font-size:100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    background-color: red;
    padding: 20px;
    font-size: 15px;
    color: white;

}

.banner-image{
   width: 400px;
   /* height: 150px; */
}

